.product-list-header {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
}

.product-list {
    box-shadow: #f8d7da 0.1225rem 0.125rem 0.625rem;
    padding: 2rem;
}

@media (max-width:48rem){
    .product-list-header{
        font-size: 0.8rem;
    }
}



